<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .contenedor{
            background: #b3c8f7;
            margin: 0 auto;
            margin-left:25%;
            margin-right:25%;
            padding-left: 35px;
            padding-right: 35px;
        }
        .data{
            padding: 2px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>LOGIN</h1>
    <div class="contenedor">
       <form action="Aldo2.html" method="get">
       <h3 style="text-align:center;">Ingrese sus datos de usuario</h3>
       <div>
           <!--<label for="Usuario">USUARIO</label>-->
           <input type="text" name="Usuario" placeholder="Ingrese Usuario">
       </div>
       <div>
           <!--<label for="Clave">CLAVE</label>-->
           <input type="password" name="Clave" placeholder="Ingrese Clave">
       </div>
       <div>
           <input type="submit" value="Ingresar">
       </div>
       </form>
    </div>
</body>
</html>
