<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <p>Lorem ipsum dolor <strong>sit amet, consectetur adipisicing elit. Beatae sunt vitae,</strong> iure vero quibusdam nisi? Tenetur, quidem aspernatur odio temporibus maiores voluptatibus animi eius. Consequatur, veritatis delectus. Maxime, doloremque, optio.</p>

</head>
<body>
    <title>Taller de GitHub</title>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptates similique iure, laudantium aliquam, temporibus veritatis ex necessitatibus impedit quibusdam optio fuga veniam consequuntur commodi ipsum architecto odio, quos illum!</p>
    <h1>Selector Atributo Basico</h1>
</body>
</html>
